# langchain ecosysteme
langchain
langgraph
pandas
langchain_openrouter
langchain_community
langchain_huggingface
langchain_chroma
langchain_community
langchain_experimental
langgraph-supervisor
langchain_openai
langchain_classic
langgraph-checkpoint-postgres
# utilitis
pyaml
ipynb
ipykernel
# RAGS and VectorStore
pypdf
rank_bm25
# transformer
sentence-transformers
google-search-results
streamlit
langfuse
fastapi
psycopg_pool
psycopg[binary]
# guardrails
litellm==1.99.2
presidio-analyzer
presidio-anonymizer
guardrails-ai
guardrails-ai-detect-jailbreak 
guardrails-ai-restrict-to-topic
# ocr model 
torch==2.10.0
torchvision==0.25.0
transformers==5.3.0
Pillow==12.1.1
matplotlib==3.10.8
einops==0.8.2
addict==2.4.0
easydict==1.13
pymupdf==1.27.2.2
psutil==7.2.2
accelerate
glmocr
~~~~~~~~#########################################
pytest
ragas
python-dotenv
mem0ai
#################"
cffi==1.17
cryptography==46.0.0
rich==13.9.4
proto-plus==1.28.0
redis==5.0.0
pyrit
#av==14.4.0


pillow 
pypdfium2





## pip install torch==2.10.0 torchvision==0.25.0 torchaudio==2.10.0 --index-url https://download.pytorch.org/whl/cu130