langchain
langgraph
pandas
langchain_openrouter
pyaml
langchain_community
ipynb
langchain_huggingface
langchain_chroma
ipykernel
pypdf
langchain_community
langchain_experimental
sentence-transformers
google-search-results
streamlit
langfuse
langgraph-supervisor
langchain_openai
langchain_classic
rank_bm25
fastapi
langgraph-checkpoint-postgres
psycopg_pool
psycopg[binary]
# guardrails
guardrail-ai
litellm
presidio-analyzer
presidio-anonymizer
# ocr model 
torch==2.10.0
torchvision==0.25.0
transformers==4.57.1
Pillow==12.1.1
matplotlib==3.10.8
einops==0.8.2
addict==2.4.0
easydict==1.13
pymupdf==1.27.2.2
psutil==7.2.2
